.result-display2{
	width:400px;
	margin:50px auto;
	display:flex;
	justify-content:center;/*가로 정렬*/
}


.dialog {
  display:none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.dialog>.tb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dialog>.tb .inner {
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 16px;
}

.dialog .top {
  display: flex;
  text-align: center;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.dialog .title {
  font-weight: bold;
  font-size: 20px;
}

.dialog .ct {
  max-height: 60vh;
  height: 60vh;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
}
/*테이블 스타일링 */
/* table {
    width: 100%;
    
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
}
 */
table caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    caption-side: top;
}

/* table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align:center;
}
table td{
	text-align:center;
}
table th {
    background-color: #f4f4f4;
}

table tr:nth-of-type(even) {
    background-color: #f9f9f9;
} */

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
/*     margin-top: 20px; */
}

/* 버튼 스타일링 */
/* input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

input[type="button"]:hover {
    background-color: #45a049;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #45a049;
} */
 .content-text {
        overflow: hidden;
        text-overflow: ellipsis;
    }   
label, input[type="radio"] {
	color:white;
}
