@charset "UTF-8";

.content-text {
	overflow: hidden;
	text-overflow: ellipsis;
}

.fc-event {
	cursor: pointer;
}

.completed-event {
	background-color: #32CD32; /* 연두색 */
	color: white;
	border: none; /* 테두리 제거 */
}

.pending-event {
	background-color: #5b5b5b; /* 회색 */
	color: white;
	border: none; /* 테두리 제거 */
}

.fc-theme-standard .fc-list-day-cushion {
    background-color: #fd7e14;
    font-weight: bold;
}