@charset "UTF-8";
ul{
	padding:0 100px;
}
ul li{
	clear:both;
}
.mem_detail li label{
	padding-top:2px;
	width:130px;
	display: inline-block; /*태그를 왼쪽으로 정렬*/
}

/*수강후기 별점 부여*/
.star-rating {
    direction:rtl; 
    display: inline-block;
}

.star-rating input[type="radio"]{
	display:none;
}
.star-rating label{
	width:15px;
	font-size:1em;
	color: #ddd;
	cursor: pointer;
}
.star-rating input[type="radio"]:checked ~ label{
	color:#ff5500;
}
.star-rating input[type="radio"]:hover ~ label{
	color:#ff5500;
}

/* 좋아요 */
.like_img{
	color:#ddd;
	cursor:pointer;
}