@charset "UTF-8";
/*========관리자 1:1문의 댓글========*/
#answer-div {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

#answer-div p{
	padding-left: 20px;		
}

.answer-title {
    font-size: 18px;
    margin-bottom: 10px;
}

#answer_form textarea {
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

#answer_form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.content-text{
	 padding-left: 20px;
	 margin-top: 50px;
	 margin-bottom:100px;
}
.content-img{
	padding-left: 20px;
}
/*========사용자 1:1문의 내용========*/
.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}